<html>
<head>
  <title></title>
</head>
<body>
    <% i = 0 %>
    <% @groups.each do |g| %>
      <% if i < 3%>
      <% checkbox_name = "groups[" + g.id.to_s + "]" %>
      <% checkbox_id = "groups_" + g.id.to_s %>
      <%= check_box_tag checkbox_name, value=@groups[i].id, checked=false %>
      <%= label_tag g.name, image_tag("g.jpeg"), :for=>checkbox_id %>
      <% else %>
      <p>This will be a dropdown</p>
      <% end %>
      <% i = i + 1 %>
    <% end %>

<br />



</body>
</html>