<h4>Don't see the group your looking for?  Add one <%= link_to "Here", new_group_path %></h4>

<h1>List of Groups</h1>

<ul>
  <% @groups.each do |g| %>
    <li><%= link_to g.name, g %></li>
  <% end %>
</ul>
