// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-up-form{
	padding-top:20px;
	list-style:none;

	 li{
		display:inline;
		float:left;
		margin-left:10px;
	}
}

// Place all the styles related to the shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100px;
}

.extension{
  height:100px;
}


